{% extends 'base.html' %}

{% block footer %}
    <footer class="uk-text-center uk-margin-small">
        <!-- footer -->
        <div class="uk-position-small uk-visible@m uk-position-z-index">
            <span class="uk-text-small uk-text-muted">
                © 2019 Created by GoldWind 
                <a href="http://confluence.goldwind.com.cn/display/CZDP">
                    CZDP
                </a>
                | Built with 
                <a href="https://flask.palletsprojects.com/en/1.1.x/" title="Visit Flask site" target="_blank" data-uk-tooltip>                    
                    <span><img src="../static/img/flask-small.svg" alt=""></span>
                    <!-- Flask -->
                </a>            
                and 
                <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip>                                                            
                    <span data-uk-icon="uikit"></span>
                    <!-- UIkit -->
                </a>
            </span>
        </div>
    </footer>
{% endblock  %}